@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

@import "./variables.css";
@import "./animations.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:var(--font-body);

    color:var(--color-text);

    overflow-x:hidden;

    background-image:url("/images/wedding-background.png");

    background-repeat:repeat;

    background-size:400px;

    background-position:top left;

}

img{

    display:block;
    max-width:100%;

}

button{

    cursor:pointer;
    border:none;
    font-family:inherit;

}

a{

    text-decoration:none;
    color:inherit;

}

ul{

    list-style:none;

}

.hero-title{

    font-family:var(--font-script);

    font-size:4rem;

    color:var(--color-primary);

    text-align:center;

    margin-bottom:20px;

}

.hero-subtitle{

    max-width:650px;

    margin:0 auto 50px;

    text-align:center;

    line-height:1.8;

    font-size:1.2rem;

    color:var(--color-text-light);

}

html{
    scroll-behavior:smooth;
}