@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

@import "./variables.css";
@import "./animations.css";
@import "./responsive.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--color-background);

    color:var(--color-text);

    font-family:var(--font-body);

    overflow-x:hidden;

}

img{

    max-width:100%;
    display:block;

}

button{

    border:none;

    background:none;

    cursor:pointer;

    font-family:inherit;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}